# Explicitly un-ignore .storybook/ directory
!.storybook/

# Built files
**/dist/
packages/

# Postgres
temp/

# Generated code
@/
apps/repo-server/src/graphql/generated/
apps/desktop-app/src/euiIcons.js
**/type_checks/