// https://github.com/elastic/eui/blob/master/wiki/consuming.md

// The following rebuilds the entire EUI component styles
@import "@elastic/eui/src/themes/amsterdam/theme_light";
@import "@elastic/charts/dist/theme_only_light.css";

// Afford for the height of the fixed header by applying padding to the body. EUI supplies a helper
// mixin that also accounts for this height in flyouts and the collapsible nav.
// https://elastic.github.io/eui/#/layout/header#stacked-headers
body {
  padding-block-start: var(--euiFixedHeadersOffset, 0);
}

.footer {
  background-color: $euiPageBackgroundColor;
  color: $euiTextColor;
}